* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #111;
    padding-top: 20px;
}

/* Link trong sidebar */
.sidebar a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Content */
.content {
    margin-left: 200px;
    padding: 20px;
}

.content h1 {
    margin-bottom: 10px;
}
